.app {
  min-height: 100vh;
  background: #f0f2f5;
}

.main {
  padding-top: 56px;
}

.homeLayout {
  display: grid;
  grid-template-columns: 280px 1fr 280px;
  min-height: calc(100vh - 56px);
}

.profileLayout {
  padding: 1rem;
}

.pageLayout {
  min-height: calc(100vh - 56px);
}

@media (max-width: 1260px) {
  .homeLayout {
    grid-template-columns: 280px 1fr;
  }
}

@media (max-width: 1100px) {
  .homeLayout {
    grid-template-columns: 1fr;
  }
}
